PORT = your_port_here
GITHUB_SECRET = github_secret_you_enter_while_creating_webhhok

BRANCH_NAME = main

CERT_PATH = PATH_TO_CERT
KEY_PATH = PATH_TO_KEY

PROJECT_PATH = cd C:/Users\Hussa/OneDrive/Desktop/githubtemp/api-bench/
PULL_CMD = git pull
EXEC_CMD = temp_exec_cmd

SMEE_URL = smee.io url here for proxy url